*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'fira-sans', sans-serif;

}
body{
 
  background-color: rgb(1, 12, 3);
  
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.c-player{
    
    display: block;
    padding: 50px;
    background-color: rgba(1, 10, 17, 0.63);
    border-radius: 30px;
    box-shadow: inset -6px -6px 12px rgba(7, 240, 201, 0.8), inset 6px 6px 12px rgba(7, 240, 201, 0.8);
    margin-bottom: 150px;
     
    
}

.c-player > h4{
  color: rgb(28, 236, 39);
  font-size: 29px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  
}

.c-player > p{
  color: rgb(200, 221, 14);
  font-size: 19px;
  text-align: center;
  font-weight: 400;
}


.c-player--details .details-img {
  position: relative;
  width: fit-content;
  margin: auto auto;
  display: flex;
  align-items: center;

}

.c-player--details .details-img img {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 250px;
  border-radius: 20px;
}

.c-player--details .details-title{
  color: rgb(238, 245, 245);
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}
 .c-player--details .details-artist{
   color:rgb(224, 236, 236);
   font-size: 20px;
   text-align: center;
   margin-bottom: 20px;
 }

 .c-player--controls{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
  
 }

 .c-player--controls .play-btn {
   display: flex;
   margin: 0 30px;
   padding: 20px;
   border-radius: 50%;
   border: none;
   outline: none;
   background-color: rgb(234, 231, 238);
   color: rgb(0, 0, 0);
   font-size: 24px;
   cursor: pointer;
   
  
  }


.c-player--controls .skip.play-btn{
  background: none ;
  border:rgb(130, 54, 243);
  outline:auto;
  cursor: pointer;
  color: rgb(214, 179, 179);
  font-style: 20px;
}













































